body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.container {
  width: 800px;
  margin: 50px auto;
}

.container h1 {
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  font-size: 1rem;
  margin-bottom: 6px;
  font-weight: bold;
}

.input-form {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
}

.boton {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  float: right;
  margin-top: 10px;
}

.btn-cancelar {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  color: #ffffff;
  background: #e70a0a;
  border-radius: 6px;
  border: 2px solid #ff0000;
  font-weight: 600;
  float: right;
}

.button {
  border: none;
  border-radius: 4px;
  color: white;
  padding: 3px 3px;
  text-align: center;
  /* display: inline- */
  font-size: 12px;
}

.azul {
  background-color: #3818c4;
}

.rojo {
  background-color: #cc1e1e;
}

#myProgress {
  width: 50%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
